
.btn, a.btn, input[type=submit] {
	display: block;
	text-align: center;
	border-style: solid;
	border: none;
	//background-color: rgb(246,160,25);
	//@include linear-gradient(#6c9d0f, #599412);

	background-color: rgb(246,160,25);
	@include linear-gradient(rgb(241,133,25), rgb(246,160,25));

	@include border-radius(1000px);
	//color: #fff !important;
	//text-shadow: 0.5px 1px 0px rgb( 118, 83, 6 );

	color: #683c05 !important;
	text-shadow: 0 1.5px 0px rgb( 248, 190, 102 );

	font-size: 18px;
	font-weight: bold;
	padding: 8px;
	text-decoration: none;
	margin: 8px 0;
	margin-bottom: 26px;
	margin-left: 15px;
	position: relative;
	clear: both;
	cursor: pointer;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;

	box-shadow:0 4px 0 0 #854C05, 0 4px 3px 0px rgb( 66, 34, 1 );

	// @include box-shadow (
	// 			photoshop-shadow(90, 1px, 0, 0, #84C217, inset),
	// 			photoshop-shadow(90, 4px, 0, 0, #45680A),
	// 			0 3px 0 6px rgba(68, 68, 68, 0.3),
	// 			0px 3.5px 0 6px rgba(255, 255, 255, 0.5)
	// 		);
	

	&:hover {
		color: rgb(241,133,25);
		@include linear-gradient(rgb(246,160,25), rgb(241,133,25));
	    box-shadow:0 4px 0 0 #854C05, 0 4px 3px 0px rgb( 66, 34, 1 );
		&:active {
			top: 4px;
	        box-shadow:0 2px 0 0 #854C05;
		}
		// @include linear-gradient(#599412, #6c9d0f);
		// &:active {
		// 	top: 4px;
		// 	@include box-shadow (
		// 		photoshop-shadow(90, 1px, 0, 0, #84C217, inset),
		// 		photoshop-shadow(90, 1px, 0, 0, #45680A),
		// 		0 -1px 0 6px rgba(68, 68, 68, 0.3),
		// 		0 -0.5px 0 6px rgba(255, 255, 255, 0.5)
		// 	);
		// }
	}
}

.form-preloader {
	color: #000;
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	z-index: 2;
	opacity: 0.8;
	top: 0;
	left: 0;
	text-align:center;
	font-weight: bold;
	//@include radius(10px);
	box-sizing: border-box;
	//@include box-shadow(0 5px 10px 0 rgba(0,0,0,0.3));

	div {
		width:200px;
		height: 100px;
		margin:auto;

		.fa {
			font-size: 50px;
			color: $blue-color;
			opacity: 0.9;
		}
	}
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea, .select {
	&::-webkit-input-placeholder {
	   font-weight: normal;
	}
	&:-moz-placeholder { /* Firefox 18- */
	   font-weight: normal;
	}
	&::-moz-placeholder {  /* Firefox 19+ */
	   font-weight: normal;
	}
	&:-ms-input-placeholder {  
	   font-weight: normal;
	}

	&.error {
		border: 1px solid rgb(223, 30, 30) !important;
		-webkit-box-shadow: 0 0 10px rgba(255,255,255,1);
			    box-shadow: 0 0 10px rgba(255,255,255,1);
	}

	-webkit-appearance: none;
	color: rgba(0,0,0,0.75);
	display: block;
	font-size: 13px;
	font-weight: 200;
	font-style: italic;
	margin-bottom: 18px;
	padding: 12px 15px;
	height: 42px;
	@include border-radius(21px);
	border: 1px solid #C2BEBE;
	background-color: #F9F9F9;
	@include background(linear-gradient(top, rgba(255,255,255,1) 2%,rgba(245,245,245,1) 100%));
	@include box-shadow (photoshop-shadow(90, 2px, 0, 5px, rgba(#D7D7D7, 1), inset));
	-webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
}

textarea {
	height: 100px;
}

.select {
    margin-right: 16px;
    padding: 0;
    width: 190px;
    height: 32px;
    float: left;
    position: relative;
	&:hover {
		@include box-shadow (photoshop-shadow(90, 2px, 0, 5px, rgba(#D7D7D7, 0.3), inset));
	}
	&:after {
		display: block;
		position: absolute;
		font-family:'FontAwesome';
		content:"\f078";
		color: #0F547D;
		top: 4px;
		right: 15px;
		font-weight: normal;
		font-style: normal;
		pointer-events: none;
	}

    select {
    	cursor: pointer;
	    padding: 0 15px;
	    height: 32px;
	    font-size: 13px;
	    overflow: hidden;
	    width: 100%;
	    border: none;
	    box-shadow: none;
	    background-color: transparent;
	    background-image: none;
	    -webkit-appearance: none;
	       -moz-appearance: none;
	            appearance: none;

	    &:focus {
		    outline: none;
		}
	}
}

