.specslider__container {
	width: 100%;
	height: 420px;
	margin-bottom: 40px;
	position: relative;

	h2 {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 17px;
	}
}

.specslider {
	width: 1020px;
	overflow: hidden;
	padding: 30px;
	margin-left: -30px;
	margin-top: -30px;
	position: relative;
	
	&:before, &:after {
		position: absolute;
		display: block;
		z-index: 5;
		content: '';
		top: 0;
		width: 30px; height: 100%;
	}

	&:before {
		left: 0; 
		background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
		background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
	}

	&:after {
		right: 0;
		background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
	}

	.specslider__wrapper {
		position: relative;
		width: 9999px;
		z-index: 3;

		.specslider__item {

			margin: 0;
			width: 239px;

			&:hover {
				@include box-shadow (photoshop-shadow(90, 0, 0, 24px, rgba(#D2D2D2, 0.75)));
			}

			a {
				display: block;
				text-decoration: none;
				padding: 30px;
				border: 1px solid #E1E1E1;
				text-align: center;
				margin: 0;
				width: 240px;
				height: 350px;
			}

			img {
				border-radius: 1000px;
				margin-bottom: 30px;
			}

			.specslider__item__title {
				font-size: 18px;
				font-weight: 600;
				display: block;
				margin-bottom: 10px;
			}

			.specslider__item__desc {
				font-size: 14px;
				font-weight: 200;
				display: block;
				margin-bottom: 12px;
			}

            .specslider__item__price {
				font-size: 16px;
				background-color: #fb941d;
				color: #fff;
				padding: 5px;
				display: block;

				.fa-rub {
					font-size: 95%;
				}
            }
		}
	}
}

.specslider__nav {
	position: absolute;
	top: 0; bottom: 0;	
	width: 100%;
	height: 100%;
	z-index: 1;
	// height: 410px;
	// margin-top: -420px;

	a {
		position: absolute;
		top: 50%;
		margin-top: -40px;
		font-size: 23px;
		line-height: 50px;
		text-align: center;
		width: 50px; height: 50px;
		display: block;
		color: #1971A7;
		z-index: 1;
		text-decoration: none;
		@include transition-property(all);
		@include transition-duration(.1s);
		@include transition-timing-function(ease-in);
		&:hover {
			color: darken(#1971A7, 10%);
			&:active {
				margin-top: -38px;
			}
		}
	}

	.specslider__nav--prev {
		left: -80px;
	}

	.specslider__nav--next {
		right: -80px;
	}
}