//- SETTINGS
- var title = 'Орион-Импорт - Автомобили с аукционов Японии, Кореи и США. Грузовики и мотоциклы. Аукционы yahoo и ebay.'
- var active = 1
- var navItems = ['Вопросы и ответы', 'Новости', 'Фотоотчёты', 'О компании', 'Контакты', 'Дилерам']
//- SETTINGS
doctype html
html(lang='ru')
  head
    include includes/head
  body
    .wrapper
      .wrapper__1280
        include includes/top-bar
        include includes/header
        include includes/slider
        //- begin main  
        .main
          //- begin container  
          .container
            h1 Спецпредложения
            .specslider__container
              .specslider
                .specslider__wrapper
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-1.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-2.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-3.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-1.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-1.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-2.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-3.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-1.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
              .specslider__nav
                a.specslider__nav--prev(href='#') 
                  span.icon-arrow-left
                a.specslider__nav--next(href='#')
                  span.icon-arrow-right
          //- end container
          .container
            .col-5.news
              h1 Новости
                span.icon-news

              .news__item
                .news__date
                  span.news__day 16
                  span.news__month апреля
                .news__content
                  a(href='#') В России остановились три автозавода
                  p На этой неделе сразу три отечественных предприятия приостановили выпуск автомобилей в связи с неблагоприятной ситуацией на рынке.
              
              .news__item
                .news__date
                  span.news__day 11
                  span.news__month апреля
                .news__content
                  a(href='#') 100 000 рублей в подарок!
                  p Владельцу выданного авто под порядковым номером 100 - 100 000 рублей в подарок!

            .col-7.well
              h2 «Орион-импорт» ведет деятельность с 2005 года
              p В 2008 году впервые появилась идея выйти напрямую на российский рынок, воплотить в реальность которую не удалось в связи с рядом определенных причин и вскоре наступившему кризису. В настоящий момент мы преодолели все препятствия и предлагаем Вам свои услуги по покупке и доставке автомобилей, мотоциклов, спецтехники и водной техники с любых аукционов и стоянок мира.
        
        include includes/footer
    include includes/tail