- var active = 4
- var pageName = 'Toyota Camry 2013'
- var sidebarItems = ['Аукционы Японии ON-LINE!', 'Аукционы OnePrice', 'Спецпредложения', 'Статистика японских аукционов', 'Калькулятор (полная пошлина)', 'Аварийные авто', 'Инструкция по аукционам', 'Цены на оформление ПТС', 'Схема работы "Полная пошлина"', 'Схема работы "Конструктор"', 'Определение даты выпуска', 'Каталог авто' ]

include includes/settings
doctype html
html(lang='ru')
  head
    include includes/head
  body
    .wrapper
      .wrapper__1280
        include includes/top-bar
        include includes/header
        include includes/slider-like-menu
        //- begin main  
        .main
          //- begin container  
          .container
            .col-4.sidebar
              h2 Автомобили из японии
              nav: ul
                - each item in sidebarItems
                  li: a(href='#') #{item}
            .col-8.content
              h1 Toyota Camry 2013
              .col-8
                ol.breadcrumbs
                  li: a(href="#") Главная
                  li: a(href="#") Автомобили
              .cat-item
                .col-4.cat-item__photos
                  a.cat-item__main-photo(href='#')
                    img(src='i/cat/1.jpg', width='300', height='225')
                  .cat-item__thumbs
                    ul
                      - var thumbs = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '2.jpg', '3.jpg']
                      - each item in thumbs
                        li.col-1: a(href='#')
                          img(src='i/cat/thumbs/'+item, width='60', height='43')

                .col-4.cat-item__desc
                  - var carDesc = [['Фирма (марка):', 'Toyota'], ['Модель:', 'Camry'], ['Год выпуска:', '2013 г.'], ['Объем двигателя:', '3500 см3 (Бензиновый)'], ['Тип КПП:', 'Автоматическая'], ['Привод:', 'Передний'], ['Пробег по России:', 'нет'], ['Руль:', 'Левый'], ['Наличие:', 'под заказ'], ['Цена:', '1370000 руб.'], ['Местонахождение:', 'Владивосток'], ['Метод ввоза:', 'полная пошлина']]
                  ul
                    - each item in carDesc
                      li
                        strong #{item[0]}
                        |  #{item[1]}
                  a.btn(href='#') Заказать
                  a.download(href='#')
                    i.fa.fa-download
                    |  Бланк заказа
              .col-8
                h2 Доп. информация:
                p Автомобиль проверен, находится на стоянке в США. Готов к отправке в любой регион РФ. Срок доставки и таможенной чистки 40 дней.
                p Гарантируем чистоту и прозрачность сделки, полное соответствие carfax и не скрученный пробег.
                p Предоплата 30000 рублей. Возможна продажа в кредит.В договоре фиксируется конечная стоимость автомобиля, включая таможенную пошлину и все расходы.
                p Подберем автомобиль в любом цвете и комплектации, в том числе под Ваш бюджет. Гарантируем чистоту и прозрачности сделки. 8 лет на рынке поставки техники.
                p Подготовим автомобиль к дальнейшей эксплуатации: заменим тех. жидкости, свечи, АКБ. Подробности у менеджеров компании. Работаем по схеме “Trade-In”. Вы можете реализовать свой автомобиль в счет заказа нового.
                p Более подробная информация, доступ к аукционам и стоянкам Японии, Кореи и США по телефонам у менеджеров и на сайте компании www.tks-jt.ru.

        include includes/footer
    include includes/tail