doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Орион-Импорт - Автомобили с аукционов Японии, Кореи и США. Грузовики и мотоциклы. Аукционы yahoo и ebay.
    meta(name='keywords', content='')
    meta(name='description', content='')

    link(rel='icon', type='image/png', href='i/favicon.png')
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/orion-icons.min.css')
    link(rel='stylesheet', href='fonts/roboto/font.css')

    //if lt IE 9
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
      <link rel="stylesheet" href="css/ie.css">
    script(src='js/vendor/modernizr.js')
  body
    .wrapper
      // begin wrapper__1280  
      .wrapper__1280
        // begin top-bar  
        .top-bar
          // begin container  
          .container
            nav.top-bar__nav.col-9
              ul
                li.active
                  a(href='#') Вопросы и ответы
                li
                  a(href='#') Новости
                li
                  a(href='#') Фотоотчёты
                li
                  a(href='#') О компании
                li
                  a(href='#') Контакты
                li
                  a(href='#') Дилерам
            // begin top-bar__search  
            .top-bar__search.col-3
              form
                input#search(type='text', placeholder='Поиск')
                label(for='search')
                  i.fa.fa-search
            // end top-bar__search 
          // end container 
        // end top-bar 
        header.header
          // begin container  
          .container
            a.header__logo.col-6(href='#')
              // <img src="i/logo.png" height="76" width="339" alt="" /> 
              p.header__slogan
                | Автомобили с аукционов Японии, Кореи и США,
                br
                | Грузовики и мотоциклы, Аукционы Yahoo и Ebay
            // begin header__contacts  
            .header__contacts
              span.header__phoneTitle Контактная информация
              i.fa.fa-phone
              h1.header__phone
                | 8 (423) 
                strong 200-48-47
            // end header__contacts 
          // end container 
        // begin slider  
        #slider

          // begin slide-1 slider__slide
          #slide-1.slider__slide.active
            // begin container  
            .container
              // begin slider__text  
              .slider__text.col-6
                h1 Выкупим и доставим авто из любой точки планеты
              // end slider__text 
              a.btn.col-4(href='#') Смотреть предложения
              img.slide__image(src='i/slider/slide-1.png', height='220', width='782')
            // end container 
          // end slide-1 slider__slide

          // begin slide-1 slider__slide  
          #slide-2.slider__slide
            // begin container  
            .container
              // begin slider__text  
              .slider__text.col-6
                h1 Грузовики из Кореи, Японии и США. Огромный выбор
              // end slider__text 
              a.btn.col-4(href='#') Смотреть предложения
              img.slide__image(src='i/slider/slide-2.png', height='238', width='761')
            // end container 
          // end slide-1 slider__slide 

          // begin slide-1 slider__slide  
          #slide-3.slider__slide
            // begin container  
            .container
              // begin slider__text  
              .slider__text.col-6
                h1 Любая спецтехника
                  br 
                  | никаких посредников
              // end slider__text 
              a.btn.col-4(href='#') Смотреть предложения
              img.slide__image(src='i/slider/slide-3.png', height='298', width='862')
            // end container 
          // end slide-1 slider__slide 

          // begin slide-1 slider__slide  
          #slide-3.slider__slide
            // begin container  
            .container
              // begin slider__text  
              .slider__text.col-6
                h1 Любая мототехника
                  br 
                  | под заказ
              // end slider__text 
              a.btn.col-4(href='#') Смотреть предложения
              img.slide__image(src='i/slider/slide-4.png', height='265', width='648')
            // end container 
          // end slide-1 slider__slide 

          // begin slide-1 slider__slide  
          #slide-3.slider__slide
            // begin container  
            .container
              // begin slider__text  
              .slider__text.col-6
                h1 Товары с аукционов 
                  br 
                  | Японии и США
              // end slider__text 
              a.btn.col-4(href='#') Смотреть предложения
              img.slide__image(src='i/slider/slide-5.png', height='271', width='782')
            // end container 
          // end slide-1 slider__slide 

          // begin slider__nav  
          .slider__nav
            a.slider__nav--prev(href='#') 
              span.icon-arrow-left
            a.slider__nav--next(href='#')
              span.icon-arrow-right
          // end slider__nav 
          // begin slider__menu  
          .slider__menu
            // begin container  
            .container
              ul
                li.active
                  a(href='#slide-1')
                    span
                      | Автомобили
                      br
                      | со всего мира
                li
                  a(href='#slide-2')
                    span Грузовики
                li
                  a(href='#slide-3')
                    span Спецтехника
                li
                  a(href='#slide-4')
                    span
                      | Аукционы Yahoo
                      br
                      | и eBay
                li
                  a(href='#slide-5')
                    span Мототехника
            // end container 
          // end slider__menu 
        // end slider 
        // begin main  
        .main
          // begin container  
          .container
            h1 Спецпредложения
            .specslider__container
              .specslider
                .specslider__wrapper
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-1.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-2.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-3.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-1.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-1.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-2.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-3.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
                  .specslider__item.col-3
                    a(href='#')
                      img(src='i/placeholders/placeholder-1.jpg', width='160', height='160')
                      h2.specslider__item__title Lexus RX 350
                      span.specslider__item__desc 2009 г. | 2500 см³
                      span.specslider__item__price
                        | 1 345 000 
                        i.fa.fa-rub
              .specslider__nav
                a.specslider__nav--prev(href='#') 
                  span.icon-arrow-left
                a.specslider__nav--next(href='#')
                  span.icon-arrow-right
          // end container
          .container
            .col-5.news
              h1 Новости
                span.icon-news

              .news__item
                .news__date
                  span.news__day 16
                  span.news__month апреля
                .news__content
                  h3 В России остановились три автозавода
                  p На этой неделе сразу три отечественных предприятия приостановили выпуск автомобилей в связи с неблагоприятной ситуацией на рынке.
              
              .news__item
                .news__date
                  span.news__day 11
                  span.news__month апреля
                .news__content
                  h3 100 000 рублей в подарок!
                  p Владельцу выданного авто под порядковым номером 100 - 100 000 рублей в подарок!

            .col-7.well
              h2 «Орион-импорт» ведет деятельность с 2005 года
              p В 2008 году впервые появилась идея выйти напрямую на российский рынок, воплотить в реальность которую не удалось в связи с рядом определенных причин и вскоре наступившему кризису. В настоящий момент мы преодолели все препятствия и предлагаем Вам свои услуги по покупке и доставке автомобилей, мотоциклов, спецтехники и водной техники с любых аукционов и стоянок мира.
        // end main 
        footer.footer
          // begin container  
          .container
            // begin footer__nav  
            .footer__nav.col-12
              nav.nav
                ul
                  li
                    a(href='#') Вопросы и ответы
                  li
                    a(href='#') Новости
                  li
                    a(href='#') Фотоотчёты
                  li
                    a(href='#') О компании
                  li
                    a(href='#') Контакты
                  li
                    a(href='#') Дилерам
            // end footer__nav 
            // begin footer__contacts col-4  
            .footer__contacts.col-4
              span.contacts__title Контактная информация:
              h1.contacts__phone
                | 8 (423) 
                strong 200-48-47
              span.contacts__address г.Владивосток, ул.Русская 9Б, офис 608
            // end footer__contacts col-4 
            // begin footer__info  
            .footer__info.col-7.push-1
              p
                | Данный веб-ресурс, носит исключительно информационный характер и не является публичной офертой.
              // begin footer_copy  
              .footer_copy
                | Разработка сайта &mdash; 
                a(href='http://iastudio.ru') Интерактив
              // end footer_copy 
            // end footer__info 
          // end container 
      // end wrapper__1280 
    // end wrapper

    <!--[if (!IE)|(gt IE 8)]><!-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <!--<![endif]-->
    
    <!--[if lte IE 8]>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->

    script(src='//api-maps.yandex.ru/2.1-dev/?lang=ru-RU&load=package.full', type='text/javascript')
    script(src='js/jquery.placeholder.js')
    script(src='js/jquery.validate.min.js')
    script(src='js/lightbox-2.6.min.js')
    script(src='js/jquery.easing.1.3.js')
    script(src='js/jquery.modal.min.js')
    script(src='js/jquery-ui-1.10.4.custom.min.js')
    script(src='js/jquery.flexverticalcenter.js')
    script(src='js/app.js')
