footer.footer
  .container
    .footer__nav.col-12
      nav.nav
        ul
          li
            a(href='#') Вопросы и ответы
          li
            a(href='#') Новости
          li
            a(href='#') Фотоотчёты
          li
            a(href='#') О компании
          li
            a(href='#') Контакты
          li
            a(href='#') Дилерам
    .footer__contacts.col-4
      span.contacts__title Контактная информация:
      h1.contacts__phone
        | 8 (423) 
        strong 200-48-47
      span.contacts__address г.Владивосток, ул.Русская 9Б, офис 608
    .footer__info.col-7.push-1
      p
        | Данный веб-ресурс, носит исключительно информационный характер и не является публичной офертой.
      .footer_copy
        | Разработка сайта &mdash; 
        a(href='http://iastudio.ru') Интерактив