header.header
  .container
    a.header__logo.col-6(href='#')
      //- <img src="i/logo.png" height="76" width="339" alt="" /> 
      p.header__slogan
        | Автомобили с аукционов Японии, Кореи и США,
        br
        | Грузовики и мотоциклы, Аукционы Yahoo и Ebay
    .header__contacts
      span.header__phoneTitle Контактная информация
      i.fa.fa-phone
      h1.header__phone
        | 8 (423) 
        strong 200-48-47