//- SETTINGS
- var title = pageName + ' - Орион-Импорт - Автомобили с аукционов Японии, Кореи и США. Грузовики и мотоциклы. Аукционы yahoo и ebay.'
- var navItems = ['Вопросы и ответы', 'Новости', 'Фотоотчёты', 'О компании', 'Контакты', 'Дилерам']
//- SETTINGS