#slider.slider--menuonly
  .slider__menu--menuonly
    .container
      ul
        li.active
          a(href='#slide-1')
            span
              | Автомобили
              br
              | со всего мира
        li
          a(href='#slide-2')
            span Грузовики
        li
          a(href='#slide-3')
            span Спецтехника
        li
          a(href='#slide-4')
            span
              | Аукционы Yahoo
              br
              | и eBay
        li
          a(href='#slide-5')
            span Мототехника