#slider

  #slide-1.slider__slide.active
    .container
      .slider__text.col-6
        h1 Выкупим и доставим авто из любой точки планеты
      a.btn.col-4(href='#') Смотреть предложения
      img.slide__image(src='i/slider/slide-1.png', height='220', width='782')

  #slide-2.slider__slide
    .container
      .slider__text.col-6
        h1 Грузовики из Кореи, Японии и США. Огромный выбор
      a.btn.col-4(href='#') Смотреть предложения
      img.slide__image(src='i/slider/slide-2.png', height='238', width='761')

  #slide-3.slider__slide
    .container
      .slider__text.col-6
        h1 Любая спецтехника
          br 
          | никаких посредников
      a.btn.col-4(href='#') Смотреть предложения
      img.slide__image(src='i/slider/slide-3.png', height='298', width='862')

  #slide-4.slider__slide
    .container
      .slider__text.col-6
        h1 Товары с аукционов 
          br 
          | Японии и США
      a.btn.col-4(href='#') Смотреть предложения
      img.slide__image(src='i/slider/slide-5.png', height='271', width='782')

  #slide-5.slider__slide
    .container
      .slider__text.col-6
        h1 Любая мототехника
          br 
          | под заказ
      a.btn.col-4(href='#') Смотреть предложения
      img.slide__image(src='i/slider/slide-4.png', height='265', width='648')

  .slider__nav
    a.slider__nav--prev(href='#') 
      span.icon-arrow-left
    a.slider__nav--next(href='#')
      span.icon-arrow-right

  //- .slider__menu
  //-   .container
  //-     ul
  //-       li.active
  //-         a(href='#slide-1')
  //-           span
  //-             | Автомобили
  //-             br
  //-             | со всего мира
  //-       li
  //-         a(href='#slide-2')
  //-           span Грузовики
  //-       li
  //-         a(href='#slide-3')
  //-           span Спецтехника
  //-       li
  //-         a(href='#slide-4')
  //-           span
  //-             | Аукционы Yahoo
  //-             br
  //-             | и eBay
  //-       li
  //-         a(href='#slide-5')
  //-           span Мототехника